<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <body style="margin: 0px 0px 0px 0px;height: 100vh;">
    <div id="content" style="height: 100%;width: 100%;">
      {% block content %}{% endblock %}
    </div>
    <!--
    <div id="footer">
        {% block footer %}
        &copy; Created 2023 by Lightnet.
        {% endblock %}
    </div>
    -->
  </body>
</html>