<!DOCTYPE html>
<html>
  <head>
    <script type="application/javascript">
      async function request_signup(){
        console.log("test");
        let alias = document.getElementById("alias").value;
        console.log("ALIAS: ",alias)
        let passphrase = document.getElementById("passphrase").value;
        console.log("ALIAS: ",passphrase)

        const response = await fetch("/api/auth/signup",{
          method:'POST',
          headers:{
            "Content-Type":"application/json",
          },
          body: JSON.stringify({
            alias:alias,
            passphrase:passphrase
          })
        });
        const movies = await response.json();
        console.log(movies);
      }
    </script>
  </head>
  <body>
    <div>
      <table>
        <tbody>
          <tr>
            <td>
              <label>Alias:</label>
            </td>
            <td>
              <input id="alias" name="alias" value="test">
            </td>
          </tr>

          <tr>
            <td>
              <label>Pass:</label>
            </td>
            <td>
              <input id="passphrase" name="passphrase" value="pass">
            </td>
          </tr>

          <tr>
            <td>
              <button onclick="request_signup();">Register</button>
              <button>Cancel</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>